# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle
gradlew
gradlew.bat

# forge
CREDITS-fml.txt
forge-1.10.2-12.18.3.2511-changelog.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
Forge MDK_Client.launch
Forge MDK_Server.launch

# other
eclipse
run
photoshop